[focus]

# software
# software to perform focusing. options include zerene for ZereneStacker
software = zerene

[fiji]

# No additional parameters necessary

[zerene]

batch_mode = default

# zerene_dir
# location of ZereneStacker installation
zerene_dir = /Applications/ZereneStacker.app/

# system_memory_MB
# system memory in megabytes?
system_memory_MB = 4000

# temp_dir
# location of temp directory for Zerene Stacker
temp_dir = /tmp

# headless
# command to use for running headless mode. remove to disable headless mode.
headless = Xvfb
